/* Global Styles */
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  outline: none;
}

:root {
  --textColor: #222222;
  --accentColor: #ff385c;
}
body {
  background-color: white;
  color: var(--textColor);
}
.underLine {
  cursor: pointer;
  text-decoration: underline;
}

.grayBackground:hover {
  background-color: #f5f5f5;
  border-radius: 5px;
}

.container {
  width: 75%;
  margin: 0 auto;
}

.btns {
  display: flex;
  margin-bottom: 50px;
  width: 250px;
  grid-gap: 20px;
}

.btn {
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
  font-family: sans-serif;
  background-color: var(--accentColor);
  color: white;
  cursor: pointer;
  border-radius: 15px;
  border: 2px solid var(--accentColor);
}
.btn-secondary {
  background-color: transparent;
  color: var(--accentColor);
  border: 2px solid var(--accentColor);
}

/* End of Global Styles */

/* Header */

.headerWrapper {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  align-items: center;
  gap: 20px;
}

header .logo {
  font-size: 24px;
  font-weight: bold;
  font-family: sans-serif;
  color: var(--accentColor);
}

ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

ul li {
  list-style: none;
  font-size: 14px;
}

header input[type="search"] {
  width: 280px;
  height: 48px;
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 40px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 1px 2px rgb(0 0 0 / 8%);
}
header input[type="search"]::placeholder {
  font-weight: 700;
  color: var(--textColor);
}

.searchBox {
  position: relative;
}

.searchBox i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  padding: 10px;
  border-radius: 50%;
  font-size: 12px;
  background-color: var(--accentColor);
  color: white;
}

header::after {
  content: "";
  display: block;
  box-shadow: rgb(0 0 0 / 8%) 0px 1px 1px !important;
  width: 100%;
  height: 1px;
}

.bannerBlock {
  padding: 20px 0;
}
.bannerBlock .content {
  margin-bottom: 20px;
}

.bannerBlock .content .subHeadline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.bannerBlock .content .subHeadline span {
  margin-left: 10px;
  padding: 3px;
}

.bannerBlock .content h1 {
  margin-bottom: 10px;
  font-size: 24px;
}
.bannerBlock .content p,
.bannerBlock .content .subHeadline span {
  font-size: 14px;
  font-weight: 600;
}
.bannerBlock .content p span {
  margin-left: 10px;
}

.gridContainer {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.box {
  min-width: 100px;
  min-height: 200px;
}

.box1 {
  /* grid-column: 1/2;
  grid-row: 1/3; */
  background: url("./images/img1.webp") no-repeat center;
  background-size: cover;
}

.box2 {
  /* grid-column: 2/3;
  grid-row: 1/2; */
  background: url("./images/img2.webp") no-repeat center;
  background-size: cover;
}
.box3 {
  /* grid-column: 3/4;
  grid-row: 1/2; */
  background: url("./images/img3.webp") no-repeat center;
  background-size: cover;
}

.box4 {
  /* grid-column: 2/3;
  grid-row: 2/3; */
  background: url("./images/img4.webp") no-repeat center;
  background-size: cover;
}

.box5 {
  /* grid-column: 3/4;
  grid-row: 2/3; */
  background: url("./images/img5.webp") no-repeat center;
  background-size: cover;
}

.mainBody {
  padding: 50px 0;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 70px;
}

.card {
  padding: 10px 30px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
  box-shadow: rgb(0 0 0 / 8%) 0px 10px 10px !important;
}

.card .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
}

.gray {
  color: gray;
}

.bold {
  font-weight: 600;
  font-size: 20px;
}

.rating {
  margin-right: 10px;
}

.cardTable {
  margin-top: 20px;
  font-size: 14px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  border-radius: 10px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

.checkIn p,
.checkOut p {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 3px;
}

.checkIn,
.checkOut {
  padding: 20px;
  border-bottom: 1px solid lightgray;
}
.checkIn {
  border-right: 1px solid lightgray;
}

.checkIn span,
.checkOut span {
  font-size: 16px;
}

.secondRow {
  grid-column: 1/3;
  padding: 20px;
}
.secondRow p {
  margin-bottom: 5px;
}
select {
  font-size: 16px;
  width: 100%;
  border: none;
}

.card .btn {
  display: flex;
  width: 100%;
  border-radius: 10px;
  height: 50px;
  align-items: center;
  justify-content: center;
}

.mainBody-content .titleSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.mainBody-content .titleSection p {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #222222;
}

hr {
  background-color: lightgray;
}

.furrySection {
  padding: 40px 0;
  display: flex;
  gap: 20px;
}
.furrySection div p {
  font-weight: 600;
}
.furrySection div span {
  font-weight: 300;
}

.airCover {
  padding: 40px 0;
}

.airCover h3 {
  font-size: 32px;
  margin-bottom: 20px;
}
.airCover h3 span {
  color: var(--accentColor);
}

.airCover p {
  margin-bottom: 20px;
}

.airCover a {
  font-weight: 600;
  color: var(--textColor);
}

.amenitiesSection {
  padding: 60px 0;
}

.light {
  font-weight: 300;
}

.amenitiesSection a {
  color: var(--textColor);
  margin-right: 10px;
  font-weight: 600;
}

.imageSection {
  padding: 40px 0;
}
.imageSection h2 {
  margin-bottom: 25px;
}
.imageSection img {
  width: 350px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.imageSection p {
  font-weight: 600;
}
.placeOfferings {
  padding: 40px 0;
}
.placeOfferings .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.placeOfferings h2 {
  margin-bottom: 30px;
}

.placeOfferings .grid div p {
  display: flex;
  margin-bottom: 25px;
  gap: 10px;
}

.placeOfferings .grid div p i {
  font-size: 18px;
}
.placeOfferings .grid div i {
  margin-right: 10px;
}

.strikeThrough {
  text-decoration: line-through;
}

/* Extra small and Small Devices */
@media (max-width: 767px) {
  .container {
    width: 90%;
  }

  .bannerBlock .content .subHeadline span {
    margin: 0;
  }

  header input[type="search"] {
    width: 230px;
  }

  header nav {
    display: none;
  }
  .bannerBlock .content h1 {
    margin-bottom: 20px;
  }
  .bannerBlock .content .subHeadline {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .bannerBlock .content .subHeadline p,
  .bannerBlock .content .subHeadline span {
    font-size: 12px;
  }

  .gridContainer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .box1 {
    grid-column: 1/3;
    grid-row: 1/2;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .box2 {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .box3 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .box4 {
    border-bottom-left-radius: 10px;
  }
  .box5 {
    border-bottom-right-radius: 10px;
  }
  .mainBody {
    display: flex;
    flex-direction: column-reverse;
  }
}

/* Medium Devices onwards */
@media (min-width: 768px) {
  .box1 {
    grid-column: 1/2;
    grid-row: 1/3;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .box2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .box3 {
    grid-column: 3/4;
    grid-row: 1/2;
    border-top-right-radius: 10px;
  }

  .box4 {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .box5 {
    grid-column: 3/4;
    grid-row: 2/3;
    border-bottom-right-radius: 10px;
  }
}
